$font-family-sans-serif: 'Roboto', sans-serif;
$primary:#008060;
$h6-font-size: 1.125rem;
$font-size-base: 1rem;
$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;


//accordion

$accordion-button-focus-border-color:none;
$accordion-button-focus-box-shadow: 0;

$accordion-button-active-bg: rgba(0, 189, 142, 0.1);
$accordion-button-active-color:#007356;

$accordion-button-icon: url('img/plus.svg');
$accordion-button-active-icon : url('img/dash.svg');


@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

h2{
  font-weight: 500;
  font-size:  calc(1.425rem + 2.1vw);
}

h3{
  font-weight: 500;
  font-size: 2.125rem;
}

h6{
  font-weight: $font-weight-normal !important;
}

h5{
  font-size: calc(1.2625rem + .15vw) !important;
}

.bg-primary-soft{
  background-color: rgba(249,250,252,.1)!important;
}
.bg-primary-dark{
  background: #005c45;
}



.text-white-70{
  color: rgba(255,255,255,.7)!important;
}

.lead{
  font-weight: 400;
  font-size: 1.5rem;
}



.blockquote{
  font-size: 1.25rem;
}
.btn-primary{
  color: white !important;
}

.user{
  width: 20px;
}

.nav-item .border-2{
  height: 2rem !important;

}
.nav-item .border-2 .border-start{
  border-left: .1rem solid rgba(0,34,28,.1) !important;
}

.home-form-img{
  width: 9.333rem;
}

.fw-500{
  font-weight: 510 !important;
}

#hero-section .form .form-control-lg{
  padding: 0.75rem 1rem !important;
}
#hero-section .form .form-label{
  margin-bottom: 0.5rem;
  font-size: .875rem;
  font-weight: 550;
}
 h6{
  font-size: 1.125rem !important;
}

.hero-icon>svg{
  width: 3rem;
  height: 3rem;
}

.card-shadow{
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.divider{
margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
  border-color: rgba(255,255,255,.1)!important;

}

.brand{
width: 5.66667rem;
}

.py-6{
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.nav-tabs{
  border-bottom: 0 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {

  border-color: transparent !important;
}
.text-body{
  color: initial;
}

.tab-text>h6{
  color: #00221c;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent !important;
}
.nav-link > .tab-row{
  transition: ease-in-out 0.15s;
}

.nav-tabs .nav-link .tab-row {
  padding: 1.3rem 1.3rem;

}

.nav-tabs .nav-link.active .tab-row{
  background-color: rgba(0,189,142,.1);
  color: initial;
  border-radius: .3125rem !important;
}

.nav-tabs .nav-link:hover .tab-row {
  background-color: #f8fafd;
  color: #00221c;
}
.mobile-frame{
  background-color: #f8fafd;
  box-shadow: 0 2.75rem 5.5rem -3.5rem rgb(189 197 209 / 50%), 0 2rem 4rem -2rem rgb(0 34 28 / 30%), inset 0 -0.1875rem 0.3125rem 0 rgb(151 164 175 / 50%);
}

.phone{
  width: 17rem;
  margin-left: -11rem;
  margin-top: 9rem;
  position: absolute;
  z-index: 2;

}
.phone-frame > img{
  width: 100%;
  border-radius: 1.6rem;
}
.phone-frame{
  background-color: #f8fafd;
  box-shadow: 0 2.75rem 5.5rem -3.5rem rgb(189 197 209 / 50%), 0 2rem 4rem -2rem rgb(0 34 28 / 30%), inset 0 -0.1875rem 0.3125rem 0 rgb(151 164 175 / 50%);
  border-radius: 2rem;

}
.browser{
  margin-right: -11rem;
  position: relative;
}
.browser-frame{
  width: 950px;
  box-shadow: 0 2.75rem 5.5rem -1rem rgb(189 197 209 / 50%), 0 2rem 4rem -1rem rgb(0 34 28 / 15%);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.browser-frame img{
  width: 100%;
}
.circle{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #e7eaf3;
}
.browser-url{
  margin-left: 60px;
  margin-top: 8px;
  text-align: center;
  width: 750px;
  /* width: 15rem; */
  background: #e7eaf3;
  font-size: 0.5rem;
  margin-bottom: 8px;
  border-radius: .125rem;
}

.two-img{
  position: absolute;
  background-image: url(./img/img7.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* left: 0; */
  height: 100%;
}

.two-content{
  position: absolute;
  right: 0;
}

.fs-md{
  font-size: 1.2rem;
}

.svg-icon>svg{
  width: 3rem;
  height: 3rem;
}
.five svg{
  width: 1.75rem;
  height: 1.75rem;
}

.five>:not(:first-child)::before{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,34,28,.1);
  height: 100%;
  z-index: 2;
  width: 0.0625rem;

  }

.bg-soft-warning{
  background-color: rgba(241,185,128,.1)!important;
}

.content-space-1{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content-space-md{
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

//accordion item
.accordion-item{
  border: 0 !important;
}

.accordion-button{
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  padding: 1.5rem 2rem !important;
}

.accordion-body{
  background-color: rgba(0, 189, 142, 0.1);
}

.accordion-button:not(.collapsed){
  box-shadow: none !important;
}

//footer

.text-cap{
  font-size: 0.75rem;
  letter-spacing: .03125rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #00bd8e;
}

.link{
  font-size: 0.875rem;
}

footer, .end{
  border-top: 1px solid rgba(255,255,255,.1)!important;
}

.shape{
  margin-top: -32.5rem;
}
